install package

In [ ]:
# !conda install openpyxl --yes
# !conda install scipy --yes

In [1]:
import pandas as pd
import numpy as np

In [4]:
path="IBM-313-Marks.xlsx"
table=pd.read_excel(path)
table

    S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0       1      5.00                 20       25.00      12.0  37.00
1       2     11.05                 20       31.05      26.0  57.05
2       3      8.10                 20       28.10      14.0  42.10
3       4      6.00                 10       16.00      13.0  29.00
4       5     11.35                 20       31.35      17.0  48.35
..    ...       ...                ...         ...       ...    ...
74     75     12.05                 10       22.05      20.0  42.05
75     76     12.25                 10       22.25      28.0  50.25
76     77      1.75                 10       11.75       NaN   0.00
77     78      3.00                 10       13.00       NaN   0.00
78     79      5.80                 10       15.80      12.0  27.80

[79 rows x 6 columns]

Mean

In [7]:
x=table['Total']
np.mean(x)

46.90632911392405

Median

In [8]:
np.median(x)

45.0

Mode<br>
warning:
/tmp/ipykernel_2625/3269743869.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(x)

In [12]:
from scipy import stats
stats.mode(x,keepdims=True)

ModeResult(mode=array([0.]), count=array([2]))

percentile

In [13]:
a=np.array([1,2,3,4,5])
p=np.percentile(a,50)
p

3.0